name: CI with Security Scan

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.organization=mariyam06-star123
            -Dsonar.projectKey=mariyam06-star_myproject
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
