name: CI with Security Scan

on:
  push:
    branches: [ main ]

jobs:
  security-pipeline:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      with:
        args: >
          -Dsonar.organization=mariyam06-star123
          -Dsonar.projectKey=mariyam06-star_myproject
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

    - name: Install Dependencies
      run: npm install

    - name: Run Dependency Security Check
      run: npm audit --audit-level=high

    - name: Run Trivy File System Scan
      uses: aquasecurity/trivy-action@master
      with:
        scan-type: 'fs'
        scan-ref: '.'
  
